<div class="row">

  <div class="col-8 ml-auto mr-auto text-center shadow">

    <div class="text-center">
      <h2 class="text-uppercase">Nouvelle vente</h2>
    </div>

    <form class="mt-4" [formGroup]="newSaleForm" (ngSubmit)="onSubmitNewSaleForm()">

      <p class="text-center text-danger">Les champs avec un * sont obligatoire </p>
      <div class="row">

        <div class="col-6">

          <h5>Vente</h5>

          <div class="form-group">
            <div class="text-left">
              <label>Date Vente <span style="color:red;">*</span></label>
              <input type="text"
                     class="form-control"
                     placeholder="JJ/MM/AAAA"
                     formControlName="saleDate"
                     [(ngModel)]="sale.saleDate"   bsDatepicker/>
            </div>
          </div>

          <div class="form-group">
            <div class="text-left">
              <label>Lieu Vente <span style="color:red;">*</span></label>
              <input type="text"
                     class="form-control"
                     placeholder="Ville"
                     formControlName="storeLocation"
                     [(ngModel)]="sale.storeLocation"/>
            </div>
          </div>
          <div
            class="text-danger"
            *ngIf="(newSaleForm.controls.storeLocation.dirty || newSaleForm.controls.storeLocation.touched)
              && newSaleForm.controls.storeLocation.invalid
             ">
            Vous devez renseigner le lieu de vente.
          </div>

          <div class="form-group">
            <div class="text-left">
              <label>Coupon Promo ?</label>
              <input type="checkbox"
                     class="form-control"
                     formControlName="couponUsed"
                     [(ngModel)]="sale.couponUsed"/>
            </div>
          </div>

          <div class="form-group">
            <div class="text-left">
              <label>Méthode Achat <span style="color:red;">*</span></label>
              <input type="text"
                     class="form-control"
                     placeholder="Méthode Achat"
                     formControlName="purchaseMethod"
                     [(ngModel)]="sale.purchaseMethod"/>
            </div>
          </div>
          <div
            class="text-danger"
            *ngIf="(newSaleForm.controls.purchaseMethod.dirty || newSaleForm.controls.purchaseMethod.touched)
              && newSaleForm.controls.purchaseMethod.invalid">
            Vous devez renseigner la méthode d'achat.
          </div>

        </div>

        <div class="col-6">

          <div formGroupName="customer">

            <h5>Client</h5>

            <div class="form-group">
              <div class="text-left">
                <label>Sexe <span style="color:red;">*</span></label>
                <input type="text"
                       class="form-control"
                       placeholder="Sexe"
                       formControlName="gender"
                       [(ngModel)]="sale.customer.gender"/>
              </div>
            </div>

            <div class="form-group">
              <div class="text-left">
                <label>Âge <span style="color:red;">*</span></label>
                <input type="number"
                       class="form-control"
                       min="18"
                       placeholder="Âge"
                       formControlName="age"
                       [(ngModel)]="sale.customer.age"/>
              </div>
            </div>
            <!--<div
              class="text-danger"
              *ngIf="(newSaleForm.controls.customer['controls'].age.touched)
              && newSaleForm.controls.customer['controls'].age.invalid">
              Vous devez renseigner l'âge du client.
            </div>-->

            <div class="form-group">
              <div class="text-left">
                <label>Email <span style="color:red;">*</span></label>
                <input type="text"
                       class="form-control"
                       placeholder="Email"
                       formControlName="email"
                       [(ngModel)]="sale.customer.email"/>
              </div>
            </div>
            <!--<div
              class="text-danger"
              *ngIf="(newSaleForm.controls.customer['controls'].email.dirty || newSaleForm.controls.customer['controls'].email.touched)
              && newSaleForm.controls.customer['controls'].email.invalid">
              Vous devez renseigner l'email du client.
            </div>-->

            <div class="form-group">
              <div class="text-left">
                <label>Satisfaction<span style="color:red;">*</span></label><br>
                <span class="text-center">0:Insatisfait &nbsp; 5:Trés satisfait</span>
                <input type="number"
                       class="form-control"
                       min="0"
                       max="5"
                       placeholder="Satisfaction"
                       formControlName="satisfaction"
                       [(ngModel)]="sale.customer.satisfaction"/>
              </div>
            </div>
           <!-- <div
              class="text-danger"
              *ngIf="(newSaleForm.controls.customer['controls'].satisfaction.dirty || newSaleForm.controls.customer['controls'].satisfaction.touched)
              && newSaleForm.controls.customer['controls'].satisfaction.invalid">
              Vous devez renseigner la satisfaction du client.
            </div>-->

          </div>

        </div>

      </div>

      <button
        class="btn btn-danger btn-block rounded mt-4"
        >
        AJOUTER
      </button>

    </form>

    <button routerLink="/sales" class="mt-3 mb-4 btn rounded border-info">Revenir aux ventes</button>

  </div>

</div>
