<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-log-5 mx-auto">
      <div class="card my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Inscription</h5>
          <div *ngIf="errorMsg" class="text-center text-danger m-1">{{ errorMsg }}</div>
          <app-auth-form label="S'inscrire" (onFormSubmitted)="onSignUp($event)"></app-auth-form>
          <div class="mt-4 text-center">
            <a routerLink="/login" class="text-dark">Déjà inscrit?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

